# PANDAS

### BASICS
#### Day - 4

In [3]:
#import the dependencies
import pandas as pd
import numpy as np

In [13]:
#MAKING A DATAFRAME
values=np.arange(0,20)
values = values.reshape(5,4)

df=pd.DataFrame(values,index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4"])
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [20]:
#accessing elements
print(df.loc["row1"])

print(type(df.loc["row1"]))

print(df.iloc[:,:])

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32
<class 'pandas.core.series.Series'>
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [25]:
#performing indexing
print(df.iloc[:,0])
print(df.iloc[:,0:4])

print(df.iloc[1:,2:])

print(df.iloc[:2,:3])

row1     0
row2     4
row3     8
row4    12
row5    16
Name: col1, dtype: int32
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19
      col3  col4
row2     6     7
row3    10    11
row4    14    15
row5    18    19
      col1  col2  col3
row1     0     1     2
row2     4     5     6

In [28]:
#counting the occurence of each values in column1
df['col1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [29]:
#checking null values
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [31]:
#rename column names
df.columns = ["red","blue","white","Black"]
df.columns

Index(['red', 'blue', 'white', 'Black'], dtype='object')

In [32]:
df.describe()

             red       blue      white      Black
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
#how to import dataset 
#csv - syntax
#name = pd.read_csv("copy path of the dataset")
#excel - syntax
#name = pd.read_excel("copy path of the dataset")